<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>Add new post</title>
</head>
<body>
    <div class="addpost">
        <%- include('../partials/header.ejs') %>
        <form> 
            Title: <input type="text" name="title" placeholder="Title"><br> 
            Body: <input type="text" name="body" placeholder="Body"><br>
            Url: <input type="text" name="urllink" placeholder="Url link"><br>
            <input type="submit" value="Add post" />
        </form>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>