<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Single Post</title>
  </head>
  <body>
    <div id="main">
    <div class="singlepost">
      <div class="post">
          <div class="post_header">
            <div class="icon">
              <img src="me.png" alt="profile picture" />
            </div>
            <div class="dateTime">
              <p>12.02.2022</p>
            </div>
          </div>
          <div class="picture">
            <img src= <%= posts.url%>  alt="post picture" />
          </div>
          <div class="post_text">
            <h3 class="title"><%= posts.title %></h3>
            <p class="body"><%= posts.body %></p>
          </div>
          <div class="post_bottom">
            <button>
              <img src="likebutton.png" alt="like_button" />
              <span class="likes">1</span>
            </button>
          </div>
        </div>
      <a class="delete" data-del="<%= posts.id %>">Delete</a>
    </div>
    </div>
    <script>
      const delreq = document.querySelector("a.delete");
      delreq.addEventListener("click", (e) => {
        const endpoint = `/posts/${delreq.dataset.del}`;
        fetch(endpoint, {
          method: "DELETE",
        }).then((window.location.href = "/posts"));
      });
    </script>
   
  </body>
</html>
